
openni.egg-info/top_level.txt

build/lib/openni/__init__.py

build/lib/openni/_nite2.py

build/lib/openni/_openni2.py

build/lib/openni/nite2.py

build/lib/openni/openni2.py

build/lib/openni/utils.py

dist/openni-2.2.0_6_mod_hjmr_1-py3.6.egg

dist/openni-2.2.0_6.1-py3.6.egg

dist/openni-2.2.0.post6+hjmr.1-py3.6.egg

dist/openni-2.2.0.post6+hjmr.1-py3.7.egg

openni.egg-info/dependency_links.txt

openni.egg-info/PKG-INFO

openni.egg-info/SOURCES.txt
